<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Listening Stats</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">🎵 My Spotify Listening Stats</h1>

        <h2 class="mt-4">Top 5 Artists</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>hours Played</th>
                </tr>
            </thead>
            <tbody>
                {% for _, row in top_artists.iterrows() %}
                <tr>
                    <td>{{ row["artistName"] }}</td>
                    <td>{{ row["hoursPlayed"] | round(1) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="mt-4">Top 5 Songs</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Songs</th>
                    <th>Artists</th>
                    <th>hours Played</th>
                </tr>
            </thead>
            <tbody>
                {% for _, row in top_songs.iterrows() %}
                <tr>
                    <td>{{ row["trackName"] }}</td>
                    <td>{{ row["artistName"] }}</td>
                    <td>{{ row["hoursPlayed"] | round(1) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="mt-4">Top 3 Artist per month</h2>
        <div class="mb-4">
            <form method="POST">
                <label for="month" class="form-lable fw-bold">🎵 Select Month:</label>
                    <select name="dropdown" class="form-select d-inline-block w-auto">
                        {% for month in months %}
                        <option value="{{month}}" {% if month == selected_month %}selected{% endif %}>
                            {{ month }}
                        </option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn text-white px-4 py-2 rounded-pill" style="background: linear-gradient(45deg, #ff416c, #ff4b2b); border: none;">
                        🎶 Show Top Artists
                    </button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Artists</th>
                    <th>hours Played</th>
                </tr>
            </thead>
            <tbody>
                {% for artist in top_artists_monthly %}
                <tr>
                    <td>{{ artist.artistName}}</td>
                    <td>{{ artist.hoursPlayed | round(2) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</body>
</html>
